.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.form-container {
  width: 350px;
  margin: auto;
}

.ui.red.tiny.button:focus,
.ui.red.tiny.buttons .button:focus {
  background-color: #db2828;
}
